@using clinic.CrossCutting.Dto
@using clinic.domain
@using clinic.domain.Entities
@model Pagination<TimeSlotViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Time Slot</h1>

<p>
    <a asp-action="Create">Create a new time slot</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>Schedule</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
                <td colspan="4">
                    <input type="radio"
                           class="btn-check"
                           name="RequestedTime.Id"
                           id="slot-@item.Id"
                           value="@item.Id"
                           autocomplete="off" />

                    <label class="btn btn-outline-primary" for="slot-@item.Id">
                        @item.Start.ToString("dd/MM/yyyy HH:mm") - @item.End.ToString("HH:mm")
                        @if (item.IsBooked)
                        {
                            <span class="text-danger">(Booked)</span>
                        }
                    </label>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
@*Paging*@
<div class="row d-flex justify-content-center align-items-center mt-5">
    <div class="col-md-6 d-flex justify-content-center">
        <div>
            <nav>
                <ul class="pagination justify-content-end">
                    <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                        <a class="page-link text-black" asp-route-pageNumber="1">
                            <span>First</span>
                        </a>
                    </li>

                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                            <a class="page-link text-black" asp-route-pageNumber="@i">@i</a>

                        </li>
                    }

                    <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                        <a class="page-link text-black" asp-route-pageNumber="@(Model.PageIndex + 1)">
                            <span>Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>
