@model Pagination<AppointmentRequestIndexViewModel>
@using clinic.CrossCutting.Dto
@using clinic.domain

@{
    ViewData["Title"] = "Index";
}
<br />
<h3>Agenda</h3>
<br />

@* <p>
    <a asp-action="Create">Book an appointment</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Número para contato
            </th>
            <th>
                Horário
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone.Number)
            </td>
                <td>
                    @item.RequestedTime.Start.ToString("dd/MM/yyyy HH:mm") - @item.RequestedTime.End.ToString("HH:mm")
                   
                </td>
            <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
@*Paging*@
<div class="row d-flex justify-content-center align-items-center mt-5">
    <div class="col-md-6 d-flex justify-content-center">
        <div>
            <nav>
                <ul class="pagination justify-content-end">
                    <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                        <a class="page-link text-black" asp-route-pageNumber="1">
                            <span>Primeira</span>
                        </a>
                    </li>

                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                            <a class="page-link text-black" asp-route-pageNumber="@i">@i</a>

                        </li>
                    }

                    <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                        <a class="page-link text-black" asp-route-pageNumber="@(Model.PageIndex + 1)">
                            <span>Seguinte</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>
